<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"repset/hero"} /-->
	<!-- wp:pattern {"slug":"repset/opening-hours"} /-->
	<!-- wp:pattern {"slug":"repset/stats-band"} /-->
	<!-- wp:pattern {"slug":"repset/class-timetable"} /-->
	<!-- wp:pattern {"slug":"repset/pricing"} /-->
	<!-- wp:pattern {"slug":"repset/trainers"} /-->
	<!-- wp:pattern {"slug":"repset/testimonials"} /-->
	<!-- wp:pattern {"slug":"repset/cta-band"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
